<section class="help">
    <a href="/" class="help__header">
        <img class="help__header-icon" src="/icons/chevronleft.svg"/>
        <h3 class="help__header-title">Помощь</h3>
    </a>
    <div class="help__content">
        <div class="help__accordion">
            <details class="help__accordion-item">
                <summary class="help__accordion-summary">
                    <span class="help__accordion-title">Вопрос в одно предложение</span>
                    <img class="help__accordion-icon" src="/icons/purpleplus.svg" />
                </summary>
                <div class="help__accordion-panel">
                    <h1 class="help__accordion-panel-title">Panel 3 Content</h1>
                    <p class="help__accordion-panel-text">Ответ не в одно предложение. Ответ может состоять не только из сплошного текста, но и буллитов. Например:</p>
                </div>
            </details>

            <details class="help__accordion-item">
                <summary class="help__accordion-summary">
                    <span class="help__accordion-title">Или в несолько предложений может быть вопрос</span>
                    <img class="help__accordion-icon" src="/icons/purpleplus.svg" />
                </summary>
                <div class="help__accordion-panel">
                    <h1 class="help__accordion-panel-title">Panel 3 Content</h1>
                    <p class="help__accordion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illo illum vel vero veniam blanditiis laboriosam animi labore atque accusantium amet excepturi voluptates perspiciatis doloribus ipsum harum nobis quam reiciendis.</p>
                </div>
            </details>

            <details class="help__accordion-item">
                <summary class="help__accordion-summary">
                    <span class="help__accordion-title">Или в несолько предложений может быть вопрос</span>
                    <img class="help__accordion-icon" src="/icons/purpleplus.svg" />
                </summary>
                <div class="help__accordion-panel">
                    <h1 class="help__accordion-panel-title">Panel 3 Content</h1>
                    <p class="help__accordion-panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illo illum vel vero veniam blanditiis laboriosam animi labore atque accusantium amet excepturi voluptates perspiciatis doloribus ipsum harum nobis quam reiciendis.</p>
                </div>
            </details>
        </div>
    </div>
</section>