.edit-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.edit-group__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-group__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0px;
  color: var(--background-secondary);
}

.edit-group__input {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 16px;
}

.edit-group__input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(165, 165, 165, 1);
}

.edit-group__input:focus {
  border-color: rgba(133, 111, 255, 1);
}

.edit-group__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-group__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-group__content-header-title {
  display: flex;
  align-items: center;
  gap: 6px;
}

.edit-group__content-header-title-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0px;
}

.edit-group__content-header-title-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(169, 169, 169, 1);
}

.edit-group__content-header-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.1px;
  color: var(--background-secondary);
}

.edit-group__content-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.edit-group__content-search-input {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 16px;
  width: 100%;
}

.edit-group__content-search-input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(165, 165, 165, 1);
}

.edit-group__content-search-input:focus {
  border-color: rgba(133, 111, 255, 1);
}

.edit-group__content-search-button {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--background-secondary);
  min-width: 48px;
  height: 48px;
}

.edit-group__content-channels {
  display: block;
  overflow-y: auto;
  padding-right: 8px;
}

.channel-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
}

.channel-card {
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  padding: 16px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.channel-card__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  position: relative;
}

.channel-card__avatar {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.channel-card__menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.channel-card__checkbox {
  display: none;
}

.channel-card.selected {
  border-color: rgba(133, 111, 255, 1);
}

.edit-group__button:disabled {
  background: var(--background-primary);
  color: rgba(165, 165, 165, 1);
  cursor: not-allowed;

  & .edit-group__button-icon {
    opacity: 0.2;
  }
}

.edit-group__button {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.1px;
  white-space: nowrap;
  background: var(--background-secondary);
  border-radius: 100px;
  color: var(--background-tertiary);
  display: flex;
  border: none;
  cursor: pointer;
  gap: 16px;
  align-items: center;
  padding: 17px 32px;
}

.edit-group__button-icon {
  background-color: rgba(231, 230, 255, 0.1);
  border-radius: 50%;
  padding: 10px;
}

.channel-cards-grid-edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 52px;
}
