@import './components/componentHome.css';
@import './components/componentCreate.css';
@import './typography.css';
@import './reset.css';
@import './components/componentNewPost.css';
@import './components/componentPreview.css';
@import './components/componentHelp.css';
@import './components/componentCreateGroup.css';
@import './components/componentEditGroup.css';

:root {
  --background-primary: #eaebef;
  --text-primary: #000000;
  --background-secondary: #0f0f0f;
  --background-tertiary: #ffffff;
  --accent-transparent: rgba(133, 111, 255, 0.1);
  --text-secondary: #c3c3c3;
  --border-color: #e1e2eb;
  --text-contrast: #232324;
  --gray-color: rgba(169, 169, 169, 1);
  --gray-color-background: rgba(237, 237, 237, 1);
  --search-color: rgba(255, 255, 255, 0.6);
  --channel-card: rgba(0, 0, 0, 0.45);
  --text-head: rgba(0, 0, 0, 0.85);
  --text-description: rgba(0, 0, 0, 0.3);
  --background-tertiarys: #ffffff;
  --slider: rgba(0, 0, 0, 0.15);
  --dots-white: #c3c3c3;
  --bg-image: var(--bg-image);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #0f0f0f;
    --text-primary: #ffffff;
    --background-secondary: #f3f1ff;
    --background-tertiary: #222222;
    --accent-transparent: rgba(231, 230, 255, 0.1);
    --text-secondary: #000000;
    --border-color: #454545;
    --text-contrast: #ffffff;
    --gray-color: rgba(69, 69, 69, 1);
    --gray-color-background: rgba(69, 69, 69, 1);
    --search-color: rgba(34, 34, 34, 0.6);
    --channel-card: rgba(195, 195, 195, 1);
    --text-head: rgba(255, 255, 255, 0.85);
    --text-description: rgba(255, 255, 255, 0.3);
    --background-tertiarys: rgba(255, 255, 255, 1);
    --slider: rgba(255, 255, 255, 0.15);
    --dots-white: #000000;
    --bg-image: url(/public/images/preview/tgchatdark.png);
  }
}

svg {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}

main {
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.05);
}

img {
  color: inherit;
}

input {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
}

textarea {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
}
