@import './components/componentHome.css';
@import './components/componentCreate.css';
@import './typography.css';
@import './reset.css';
@import './components/componentNewPost.css';
@import './components/componentPreview.css';
@import './components/componentHelp.css';
@import './components/componentCreateGroup.css';

:root {
  --primary-color: #42b983;
}

body,
main {
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}
